 @media (min-width:320px) {
    * {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        font-family: arial;
    }

    .banner img {
        height: 250px;
        width: 100%;
    }

    .logo {
        height: 30px;
        width: 60px;
    }

    .logo img {
        height: 30px;
        width: 100%;
    }

    .menu {
        height: auto;
        width: 95%;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 2%;
        top: 60%;
    }

    .box1,
    .box2,
    .box3,
    .box4,
    .box5 {
        height: 30px;
        width: 100%;
    }

    .box1,
    .box5 {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;

    }

    .box2 ul li {
        position: relative;
        top: 6px;
        list-style: none;
    }

    .gallery {
        height: auto;
        width: 100%;
        margin: 0%;
        position: relative;
        top: 170px;
    }

    .gallery .gallery-list {
        height: auto;
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .image-one,
    .image-two,
    .image-three,
    .image-four {
        height: 350px;
        width: 100%;
        margin: 0%;
        margin-bottom: 20px;
    }

    .gallery-text {
        height: auto;
        width: 100%;
    }

    .gallery-text .kipon {
        position: absolute;
        top: 650px;
        left: 20%;
    }

    .gallery-text .robotrix {
        position: relative;
        top: -700px;
        left: 70px;
    }

    .gallery-text .treasure {
        position: relative;
        top: -380px;
        left: 70px;
    }

    .about-tripo {
        height: auto;
        width: 100%;
        overflow: hidden;
        position: relative;
        top: 90px;
    }

    .about-tripo .about {
        font-size: 16px;
    }

    .about-tripo .about-text {
        padding: 5px 0px;
        line-height: 30px;
        font-size: 25px;
    }

    .about-tripo .about-para {
        padding: 10px 0px;
        margin: auto;
        font-size: 14px;
        width: 90%;
    }

    .banner2-image {
        height: 200px;
        width: 90%;
        margin: auto;
        position: relative;
        top: 120px;
        bottom: 0px;
    }

    .overlay {
        height: 200px;
        width: 100%;
    }

    .banner2-image .ctn {
        height: 150px;
        width: 140px;
        position: relative;
        top: -125%;
        left: 25%;
    }

    .about-games {
        width: 100%;
        position: relative;
        top: 250px;
    }

    .about-games .games {
        font-size: 25px;
        padding: 0px;
    }

    .about-games .games-para {
        font-size: 14px;
        line-height: normal;
        width: 90%;
        margin: auto;
    }

    .background-image {
        height: 600px;
        width: 100%;
        position: relative;
        top: 200px;
        overflow: visible;
    }

    .background-image .games-gallery {
        height: auto;
        width: 100%;
    }

    .background-image .games-gallery-ctn {
        width: 90%;
        height: 960px;
        overflow: hidden;
        display: flex;
        justify-content: start;
        flex-direction: column;
        position: relative;
        top: 560px;
    }

    .kipon-box {
        height: 300px;
        width: 100%;
        position: relative;
        left: 0px;
        margin-bottom: 20px;
    }

    .kipon-box .kipon-prof {
        position: relative;
        top: 10px;
        left: 10px;
    }

    .kipon-box p {
        width: 100%;
        font-size: 15px;
        position: relative;
        left: 10px;
        top: 20px;
    }

    .kipon-box section {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        position: relative;
        left: 10px;
        top: 35px;
    }

    .kipon-box section img {
        height: 40px;
    }

    .robotrix-box {
        height: 300px;
        width: 100%;
        position: relative;
        left: 0px;
        margin-bottom: 20px;

    }

    .robotrix-box .robotrix-prof {
        position: relative;
        top: 10px;
        left: 10px;
    }

    .robotrix-box p {
        width: 100%;
        font-size: 15px;
        position: relative;
        left: 10px;
        top: 20px;
    }

    .robotrix-box section {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        position: relative;
        left: 10px;
        top: 35px;
    }

    .robotrix-box section img {
        height: 40px;
    }

    .treasure-box {
        height: 300px;
        width: 100%;
        position: relative;
        top: 1px;
        left: 0px;
        margin-bottom: 20px;

    }

    .treasure-box .treasure-prof {
        position: relative;
        top: 10px;
        left: 10px;
    }

    .treasure-box p {
        width: 100%;
        font-size: 15px;
        position: relative;
        left: 10px;
        top: 20px;
    }

    .treasure-box section {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        position: relative;
        left: 10px;
        top: 35px;
    }

    .treasure-box section img {
        height: 40px;
    }

    .bnr-cartoon {
        height: auto;
        width: 100%;
        overflow: hidden;
        position: relative;
        top: 560px;
    }

    .bnr-cartoon img {
        height: 220px;
        position: relative;
        top: 0px;
        left: 50px;
    }

    .contact-info {
        height: auto;
        width: 100%;
        position: relative;
        top: 1000px;
    }
    .contact-info .horse-background
    {
        height: 450px;
    }
    .horse-background section 
    {
        position: relative;
        top: 20px;
    }
    .horse-background h3
    {
        font-size: 20px;
    }
    .horse-background h1
    {
        font-size: 30px;
        line-height: normal;
    }
    .horse-background img 
    {
        height: 230px;
        width: 270px;
        position: relative;
        top: -70px;
        left: 25px;
    }
    .background-img2
    {
        height: 1300px;
    }
    .contact-form
    {
        height: 770px;
        width: 90%;
        position: relative;
        top: -300px;
        left: 20px;
    }
    .contact-form section 
    {
        display: flex;
        flex-direction: column;
    }
    .first-name input
    {
        width: 95%;
   }
   .last-name
   {
    position: relative;
    left: -30px;
    top: 10px;
   }
    .last-name input 
    {
        width: 107%;
    }
    .background-img2 .subs-box
    {
        width: 90%;
        margin: auto;
        position: relative;
        left: 0px;
        top: 770px;
    }
    .subs-box label 
    {
        position: relative;
        top: -30px;
    }
    .subs-box input 
    {
        position: relative;
        top: -30px;
    }
    .subs-box span 
    {
        position: relative;
        top: -30px;
    }
    .subs-box .join-btn 
    {
        position: relative;
        top: -30px;
    }

    .footer {
        height: 1300px;
        overflow: hidden;
        position: relative;
        top: 1400px;
    }
    .footer .footer-list tr
    {
        position: relative;
        top: -300px;
        display: flex;
        flex-direction: column;
    }
    .footer .footer-list tr td 
    {
        margin-top: 250px;
    }
    .footer .contact-sec
    {
        position: relative;
        left: 32%;
        top: -1030px;
    }
    .footer .navigation-sec
    {
        position: relative;
        left: 40%;
        top: -830px;
    }
    .footer .social-sec
    {
        position: relative;
        left: 42%;
        top: -720px;
    }
    .footer .findus-sec
    {
        position: relative;
        left: 29%;
        top: -550px;
    }
    .footer .hr-line2
    {
        position: relative;
        top: -500px;
    }
    .footer h5
    {
        position: relative;
        top: -500px;
        width: 90%;
        margin: auto;
    }
}


@media (min-width:481px) {
    * {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        font-family: arial;
    }

    .banner img {
        height: 350px;
        width: 100%;
    }

    .logo {
        height: 50px;
        width: 100px;
    }

    .logo img {
        height: 50px;
        width: 100%;
    }

    .menu {
        height: auto;
        width: 65%;
        display: flex;
        flex-direction: row;
        position: absolute;
        left: 33%;
        top: 0%;
    }

    .box1 {
        border-bottom-left-radius: 10px;
    }

    .box5 {
        border-bottom-right-radius: 10px;

    }

    .gallery {
        height: auto;
        width: 100%;
        margin: 0%;
        position: relative;
        top: 17px;
    }

    .gallery .gallery-list {
        height: auto;
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .image-one,
    .image-two,
    .image-three,
    .image-four {
        height: 300px;
        width: 47%;
        margin: 0%;
        margin-bottom: 20px;
    }

    .gallery-text {
        height: auto;
        width: 100%;
    }

    .gallery-text .kipon {
        position: absolute;
        top: 570px;
        left: 10%;
    }

    .gallery-text .robotrix {
        position: absolute;
        top: 570px;
        left: 60%;
    }

    .gallery-text .treasure {
        position: relative;
        top: -100px;
        left: 50px;
    }

    .about-tripo {
        height: auto;
        width: 100%;
        overflow: hidden;
        position: relative;
        top: 10px;
    }

    .about-tripo .about {
        font-size: 20px;
    }

    .about-tripo .about-text {
        padding: 5px 0px;
        line-height: 40px;
        font-size: 37px;
    }

    .about-tripo .about-para {
        padding: 20px 0px;
        margin: auto;
        font-size: 17px;
        width: 95%;
    }

    .banner2-image {
        height: 300px;
        width: 90%;
        margin: auto;
        position: relative;
        top: 50px;
        bottom: 0px;
    }

    .overlay {
        height: 300px;
        width: 100%;
    }

    .banner2-image .ctn {
        height: 200px;
        width: 190px;
        position: relative;
        top: -125%;
        left: 27%;
    }

    .about-games {
        width: 100%;
        position: relative;
        top: 220px;
    }

    .about-games .games {
        font-size: 37px;
        padding: 0px;
    }

    .about-games .games-para {
        font-size: 17px;
        line-height: normal;
        width: 90%;
        margin: auto;
    }

    .background-image {
        height: 700px;
        width: 100%;
        position: relative;
        top: 200px;
        overflow: visible;
    }

    .background-image .games-gallery {
        height: auto;
        width: 100%;
    }

    .background-image .games-gallery-ctn {
        width: 98%;
        height: 600px;
        overflow: hidden;
        display: flex;
        justify-content: start;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        top: 660px;
    }

    .kipon-box {
        height: 280px;
        width: 49%;
        position: relative;
        left: 0px;
        margin-bottom: 20px;
    }

    .kipon-box .kipon-prof {
        position: relative;
        top: 10px;
        left: 10px;
    }

    .kipon-box p {
        width: 95%;
        font-size: 12px;
        position: relative;
        left: 10px;
        top: 20px;
    }

    .kipon-box section {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        position: relative;
        left: 10px;
        top: 35px;
    }

    .kipon-box section img {
        height: 35px;
    }

    .robotrix-box {
        height: 280px;
        width: 49%;
        position: relative;
        left: 0px;
        margin-bottom: 20px;
        margin-left: 7px;
    }

    .robotrix-box .robotrix-prof {
        position: relative;
        top: 10px;
        left: 10px;
    }

    .robotrix-box p {
        width: 100%;
        font-size: 12px;
        position: relative;
        left: 10px;
        top: 20px;
    }

    .robotrix-box section {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        position: relative;
        left: 10px;
        top: 35px;
    }

    .robotrix-box section img {
        height: 35px;
    }

    .treasure-box {
        height: 300px;
        width: 100%;
        position: relative;
        top: 0px;
        left: 0px;
        margin-bottom: 20px;

    }

    .treasure-box .treasure-prof {
        position: relative;
        top: 10px;
        left: 25%;
    }

    .treasure-box p {
        width: 100%;
        font-size: 15px;
        position: relative;
        left: 25%;
        top: 20px;
    }

    .treasure-box section {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        position: relative;
        left: 25%;
        top: 35px;
    }

    .treasure-box section img {
        height: 40px;
    }

    .bnr-cartoon {
        height: auto;
        width: 100%;
        overflow: hidden;
        position: relative;
        top: 700px;
    }

    .bnr-cartoon img {
        height: 220px;
        position: relative;
        top: 0px;
        left: 30%;
    }
    .contact-info
    {
        position: relative;
        top: 700px;
    }
    .horse-background img 
    {
        height: 250px;
        width: 290px;
        position: relative;
        top: -50px;
        left: 90px;
    }
    .last-name input 
    {
        width: 102%;
    }
    .footer
    {
        position: relative;
        top: 1100px;
    }
    .footer .contact-sec
    {
        position: relative;
        left:40%;
    }
    .footer .navigation-sec
    {
        position: relative;
        left: 42%;
        top: -830px;
    }
    .footer .social-sec
    {
        position: relative;
        left: 45%;
        top: -720px;
    }
    .footer .findus-sec
    {
        position: relative;
        left: 35%;
        top: -550px;
    }
}



@media (min-width:769px) {
    * {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        font-family: arial;
    }

    .banner img {
        height: 700px;
        width: 100%;
    }

    .logo {
        height: 65px;
        width: 170px;
    }

    .logo img {
        height: 65px;
        width: 100%;
    }

    .menu {
        height: auto;
        width: 35%;
        display: flex;
        flex-direction: row;
        position: absolute;
        left: 58%;
        top: 0%;
    }

    .box1,
    .box2,
    .box3,
    .box4,
    .box5 {
        height: 65px;
        width: 100%;
    }

    .box1 {
        border-bottom-left-radius: 10px;
    }

    .box5 {
        border-bottom-right-radius: 10px;

    }

    .box2 ul li {
        position: relative;
        top: 23px;
        list-style: none;
    }

    .gallery {
        height: 380;
        width: 100%;
        margin: 0%;
        position: relative;
        top: 17px;
    }

    .gallery .gallery-list {
        height: 380px;
        width: 85%;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .image-one,
    .image-two,
    .image-three,
    .image-four {
        height: 380px;
        width: 23%;
        margin: 0%;
        margin-bottom: 20px;
    }

    .gallery-text {
        height: auto;
        width: 100%;
    }

    .gallery-text .kipon {
        position: relative;
        left: 10%;
        top: -120px;
    }

    .gallery-text .robotrix {
        position: relative;
        left: 32%;
        top: -170px;
    }

    .gallery-text .treasure {
        position: relative;
        left: 54%;
        top: -220px;
    }

    .about-tripo {
        height: auto;
        width: 100%;
        overflow: hidden;
        position: relative;
        top: -60px;
    }

    .about-tripo .about {
        font-size: 25px;
    }

    .about-tripo .about-text {
        padding: 5px 0px;
        line-height: 70px;
        font-size: 60px;
    }

    .about-tripo .about-para {
        padding: 10px 0px;
        margin: auto;
        font-size: 17px;
        width: 90%;
        line-height: 25px;
    }

    .banner2-image {
        height: 400px;
        width: 700px;
        margin: auto;
        position: relative;
        top: 20px;
        bottom: 0px;
    }

    .overlay {
        height: 400px;
        width: 100%;
    }

    .banner2-image .ctn {
        height: 250px;
        width: 240px;
        position: relative;
        top: -155%;
        left: -15%;
    }

    .about-games {
        width: 100%;
        position: relative;
        top: 150px;
    }

    .about-games .games {
        font-size: 50px;
        padding: 0px 0px 30px 0px;
    }

    .about-games .games-para {
        font-size: 20px;
        width: 90%;
        margin: auto;
        line-height: 25px;
    }

    .background-image {
        position: relative;
        top: 170px;
        height: 100%;
        width: 100%;
    }

    .background-image .games-gallery {
        height: 190vh;
        width: 100%;
        background-repeat: no-repeat;
        width: 100%;
    }

    .background-image .games-gallery-ctn {

        height: 400px;
        width: 90%;
        overflow: visible;
        margin: auto;
        display: flex;
        position: relative;
        top: 10px;
    }

    .kipon-box {
        height: 400px;
        width: 33%;
        background-color: whitesmoke;
        border-radius: 25px;
        position: relative;
        left: 0px;
        top: 0px;
    }

    .kipon-box .kipon-prof {
        height: 100px;
        width: 100px;
        border-radius: 30px;
        position: relative;
        top: 45px;
        left: 60px;
        display: flex;
    }

    .kipon-box p {
        color: black;
        font-size: medium;
        font-size: 17px;
        line-height: 23px;
        position: relative;
        left: 60px;
        top: 85px;
    }

    .kipon-box section {

        position: relative;
        top: 30%;
        left: 55px;
    }

    .kipon-box section img {
        height: 50px;
        padding: 2px;
    }

    .robotrix-box {
        height: 400px;
        width: 33%;
        background-color: whitesmoke;
        border-radius: 25px;
        position: relative;
        left: 34%;
        top: 0px;
    }

    .robotrix-box .kipon-prof {
        height: 100px;
        width: 100px;
        border-radius: 30px;
        position: relative;
        top: 45px;
        left: 60px;
        display: flex;
    }

    .robotrix-box p {
        color: black;
        font-size: medium;
        font-size: 17px;
        line-height: 23px;
        position: relative;
        left: 60px;
        top: 85px;
    }

    .robotrix-box section {

        position: relative;
        top: 30%;
        left: 55px;
    }

    .robotrix-box section img {
        height: 50px;
        padding: 2px;
    }

    .treasure-box {
        height: 400px;
        width: 33%;
        background-color: whitesmoke;
        border-radius: 25px;
        position: relative;
        left: -70%;
        top: 250%;
    }

    .treasure-box .kipon-prof {
        height: 100px;
        width: 100px;
        border-radius: 30px;
        position: relative;
        top: 45px;
        left: 60px;
        display: flex;
    }

    .treasure-box p {
        color: black;
        font-size: medium;
        font-size: 17px;
        line-height: 23px;
        position: relative;
        left: 60px;
        top: 85px;
    }

    .treasure-box section {

        position: relative;
        top: 30%;
        left: 55px;
    }

    .treasure-box section img {
        height: 50px;
        padding: 2px;
    }

    .bnr-cartoon {
        height: auto;
        width: 400px;
        overflow: hidden;
        position: relative;
        top: 560px;
        left: 67%;
    }

    .bnr-cartoon img {
        height: 300px;
        position: relative;
        top: 0px;
        left: 50px;
    }
    .contact-info
    {
        position: relative;
        top:0px;
    }
    .contact-info .horse-background
    {
        height: 700px;   
    }
    .horse-background section
{
    width: 80%;
    position: relative;
    left:10%;
    top: 15%;
}
.horse-background h3
{
    color: white;
    font-size: 21px;
}
.horse-background h1
{
    color:white;
    font-size: 50px;
    font-family: "Bree Serif", serif;
    font-weight: bolder;
    padding: 25px 0px;
    line-height: 60px;
}
.horse-background img
{
    height: 400px;
    width: 470px;
    position: relative;
    left: 60%;
    top: 51px;
}
.background-img2
{
    height:700px;
    width: 100%;
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(image/space-flat-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    top: 400px;
    background-attachment: fixed;
}
.background-img2 .subs-box
{   
    height: 270px;
    width: 410px;
    border-radius: 25px;
    background-color: #da392b;
    position: relative;
    left: 25%;
    top: 20%;
}
.contact-form
{
    height: 680px;
    width: 430px;
    background-color: whitesmoke;
    position: relative;
    top: -75%;
    left: 13%;
    border-radius: 20px;
} 
.contact-form section
{
    display: flex;
    flex-direction: row;
}
.first-name
{
    padding-left: 20px;
}
.first-name input
{
    height: 40px;
    width: 170px;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid black;
    outline: none;
    margin-top: 10px;
}
.last-name
{
    padding-left: 50px;
    position: relative;
    top: 0px;
}
.last-name input
{
    height: 40px;
    width: 170px;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid black;
    outline: none;
}
.footer {
    height: 500px;
    overflow: hidden;
    position: relative;
    top:400px;
}
.footer .footer-list
{
    height: auto;
    width: 75%;
    position: relative;
    top: 70px;
    margin: auto;
    text-align: center;
    color: rgb(0, 0, 79);
    font-weight: bold;
    font-size: 20px;
}
.footer .footer-list tr
{
    position: relative;
    top: -300px;
    display: flex;
    flex-direction: row;
}
.footer .footer-list tr td 
{
    width: 75%;
    margin-top: 250px;
}
.footer .contact-sec
{
    position: relative;
    top: -200px;
    left: 18%;
}
.footer .navigation-sec
{
    position: relative;
    top: -280px;
    left: 37%;
}
.footer .social-sec
{
    position: relative;
    top: -450px;
    left: 57%;
}
.footer .findus-sec
{
    position: relative;
    left: 74%;
    top: -560px;
}
.findus-sec a img
{
    height: 45px;
}
.footer .hr-line2
{
    position:relative;
    top: -450px;
}
.footer h5
{
    position: relative;
    top: -450px;
}
}
